# Environment
.env

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
.dockerignore

# Logs
*.log

.md